server:
    address: 172.16.20.70
    port: 8080

#spring配置
spring:
    profiles:
      active: dev
    http:
      encoding:
        charset: utf-8
        enabled: true #是否开启http的编码支持

#spring boot监控（比如：线程数，jvm剩余内存）
#ep:http://localhost:8808/admin/metrics
management:
    security:
      enabled: false #是否需要权限验证 true 需要 false 不需要
    port: 8808 #管理端口调整成8808
    context-path: /admin




#联通Soapapi
LianTongSoapapiMessage:
   userName: panjuanjuan
   passWord: shjj123456
   headPath: http://api.jasperwireless.com/ws/service/terminal/
   requestLicenseKey: 23079646-c276-47e1-bf50-3200a7ce842e
   reqUrl: https://api.10646.cn/ws/service/terminal;
   namespaceUri: http://api.jasperwireless.com/ws/schema
   prefix: jws
   GetTerminalDetailReqMessage:
     headValue: GetTerminalDetails
     requestMessageId: TCE-100-ABC-34084
     requestVersion: 1.0
